[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "GenerateIndexPedigree"]
	path = GenerateIndexPedigree
	url = https://github.com/katelynqueen98/generateindexpedigree
